/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/**
 * Bootstrap variable overrides
 */

:root {
  --gammatec: #e65451;
  --gammatec-secondary: #e4572e;
  --logo-color: var(--bs-body-color);
  --clip-size: 20px;
  --clip-size-small: 10px;
  --clip-size-medium: 30px;
  --clip-size-large: 50px;
}

:root, [data-bs-theme=light] {
  --bs-body-bg: #ffede3;
  --bs-body-bg-rgb: 255, 237, 227;
  --bs-body-color: #3b372f;
  --bs-primary: #2567c8;
  --bs-primary-rgb: 37, 103, 200;
  --bs-dark: #3b372f;
  --bs-dark-rgb: 59, 55, 47;
  --bs-font-sans-serif: 'Heebo';
  --bs-primary-text-emphasis: var(--gammatec);
  --bs-secondary-text-emphasis: var(--gammatec-secondary);
  --bs-orange: var(--gammatec-secondary);
  --bs-border-radius: 0;
  --bs-border-radius-lg: 0;
}

.navbar {
  --bs-navbar-active-color: var(--bs-primary-text-emphasis);
}

.navbar-nav {
  --bs-nav-link-font-weight: 600;
  --bs-navbar-nav-link-padding-x: 1rem;
  --bs-nav-link-padding-y: .75rem;
}

.nav-underline {
  --bs-nav-underline-border-width: .25rem;
}

.nav-link {
  --bs-nav-link-font-size: 1.1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
  border-color: transparent;
  background: var(--bs-body-bg);
}

.dropdown-menu {
  --bs-dropdown-bg: #fff;
  --bs-dropdown-font-size: 1.1rem;
  --bs-dropdown-border-radius: 0;
  --bs-dropdown-link-active-bg: #fbe0d1;
}

.dropdown-item {
  font-weight: 600;
}

.dropdown-toggle::after {
  --svg-caret: url('data:image/svg+xml,\
    <svg viewBox="0 0 18 18" xmlns="http://www.w3.org/2000/svg">\
      <path fill="hsl(1, 75%, 61%)" d="M3.79289 7.54289C4.18342 7.15237 4.81658 7.15237 5.20711 7.54289L9 11.3358L12.7929 7.54289C13.1834 7.15237 13.8166 7.15237 14.2071 7.54289C14.5976 7.93342 14.5976 8.56658 14.2071 8.95711L9.70711 13.4571C9.31658 13.8476 8.68342 13.8476 8.29289 13.4571L3.79289 8.95711C3.40237 8.56658 3.40237 7.93342 3.79289 7.54289Z"></path>\
    </svg>');
  border: none;
  background-image: var(--svg-caret);
  width: 20px;
  height: 20px;
  vertical-align: -0.1em;
  transition: all .2s ease-in-out;
}

.dropdown-toggle.show::after {
  transform: rotate(180deg);
}

.btn-danger {
  --bs-btn-bg: var(--gammatec);
}

/**
 * Custom styles
 */

p {
  font-size: 1.1rem;
}

p, .text-wrap-pretty {
  text-wrap: pretty;
}

.letter-spacing-wide {
  letter-spacing: 0.05rem;
}

.lh-md {
  line-height: 1.75;
}

.white-space-nowrap {
  white-space: nowrap;
}

.text-verwarming {
  color: var(--bs-primary-text-emphasis);
}

.text-warmtepompen {
  color: var(--bs-secondary-text-emphasis);
}

.text-sanitair {
  color: rgba(var(--bs-primary-rgb));
}

.text-ventilatie {
  color: var(--bs-danger-text-emphasis);
}

.bg-opaque {
  background-color: rgba(255, 255, 255, .65);
}

.bg-gammatec {
  background-color: oklch(74.61% 0.171 51.56) !important;
}

.bg-primary-emphasis {
  background-color: var(--bs-primary-text-emphasis) !important;
}

.bg-danger-emphasis {
  background-color: #58151c !important;
}

.stroker {
  width: 4rem;
  height: .7rem;
}

.flames {
  background: url('../img/flames-blended.jpg') no-repeat center;
  background-size: cover;
}

.flames_content {
  min-height: 32rem;
}

.clip-corners {
  clip-path: polygon(0% 0%, 0% calc(100% - var(--clip-size)), var(--clip-size) 100%, 100% 100%, 100% var(--clip-size), calc(100% - var(--clip-size)) 0%);
}

.clip-corner-bl {
  clip-path: polygon(0% 0%, 0% calc(100% - var(--clip-size)), var(--clip-size) 100%, 100% 100%, 100% 0%);
}

.clip-corner-tr {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% var(--clip-size), calc(100% - var(--clip-size)) 0%);
}

.clip-corners-sm {
  clip-path: polygon(0% 0%, 0% calc(100% - var(--clip-size-small)), var(--clip-size-small) 100%, 100% 100%, 100% var(--clip-size-small), calc(100% - var(--clip-size-small)) 0%);
}

.clip-corner-bl-sm {
  clip-path: polygon(0% 0%, 0% calc(100% - var(--clip-size-small)), var(--clip-size-small) 100%, 100% 100%, 100% 0%);
}

.clip-corner-tr-sm {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% var(--clip-size-small), calc(100% - var(--clip-size-small)) 0%);
}

.clip-corners-md {
  clip-path: polygon(0% 0%, 0% calc(100% - var(--clip-size-medium)), var(--clip-size-medium) 100%, 100% 100%, 100% var(--clip-size-medium), calc(100% - var(--clip-size-medium)) 0%);
}

.clip-corner-bl-md {
  clip-path: polygon(0% 0%, 0% calc(100% - var(--clip-size-medium)), var(--clip-size-medium) 100%, 100% 100%, 100% 0%);
}

.clip-corner-tr-md {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% var(--clip-size-medium), calc(100% - var(--clip-size-medium)) 0%);
}

.clip-corners-lg {
  clip-path: polygon(0% 0%, 0% calc(100% - var(--clip-size-large)), var(--clip-size-large) 100%, 100% 100%, 100% var(--clip-size-large), calc(100% - var(--clip-size-large)) 0%);
}

.clip-corner-bl-lg {
  clip-path: polygon(0% 0%, 0% calc(100% - var(--clip-size-large)), var(--clip-size-large) 100%, 100% 100%, 100% 0%);
}

.clip-corner-tr-lg {
  clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% var(--clip-size-large), calc(100% - var(--clip-size-large)) 0%);
}

.footer {
}

.service-link .bi {
  transition: all ease-in-out .2s;
}

.service-link:hover .bi {
  margin-right: .3rem;
  transform: scale(1.05);
}


@media (orientation: portrait) {
  .flames {
    background-size: 300vw;
  }
}
